  body {
    background-color: rgb(11, 11, 29) ;
    margin: 0;
  }
  
  .container_table{
    flex-direction: column;
    padding: 50px 70px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
	  align-content: center;
  }
  form {
    width: 400px;
    height: 700px;
    box-shadow: 0 0 10px rgba(5, 163, 225, 0.1);
    padding: 30px;
    margin: auto;
    color: rgb(31, 26, 26);
    background-color:rgb(106, 192, 221);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #262121;
  }
  
  input[type="text"],
  input[type="bigint"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0c0f2d;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 8px; margin-bottom: 8px;
  }
  
  input[type="text"]:focus,
  input[type="bigint"]:focus,
  input[type="password"]:focus,
  input[type="file"]:focus {
    outline: none;
    border-color: #555;
    margin-top: 8px; margin-bottom: 8px;
  }
  .form-text{
    width: 100%;
    padding: 10px;
    border: 1px solid #0c0f2d;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 8px; margin-bottom: 8px;
    background-color: white;
  }
  .form-12{
    position: relative;
    display: flex;
  }
  button[type="submit"],
  [type="reset"] {
    display: block;
    width: 50%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px; /* Cambiado a 'auto' para centrar horizontalmente */

  }
  
  button[type="submit"]:hover,
  [type="reset"]:hover{
    background-color: #555;
  }
